.popoverContainer {
    position: relative;
}

.popoverChildren {
    cursor: pointer;
}

.popoverContent {
    position: absolute;
    bottom: 160% ;
    right: 50%;
    background-color: #232222;
    opacity: 0.84;
    border-radius: 40px;
    padding: 40px;
    z-index: 1;
}