.popoverContainer {
    position: relative;
}

.popoverChildren {
    cursor: pointer;
}

.popoverContent {
    position: absolute;
    bottom: 160% ;
    right: 50%;
    background-color: rgba(35, 34, 34, 0.85);
    border-radius: 30px;
    padding: 20px;
    z-index: 1;
}