.slidesList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.slide {
    border-radius: 10px;
    border: 2px solid transparent;
    pointer-events: 'none';
    transition: border-color 0.3s ease;
}

.slide:hover {
    border-color: gray;
}