.topPanel {
    width: 100%;
    height: var(--topPanelHeight);
    background-color: #20AB25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-block: 25px;
    padding-inline: 50px;
}

.titleInput {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 28px;
    transition: background-color 0.3s ease;
    text-align: center;
    max-width: 1400px;
    width: 100%;
}

.navigationContainer {
    display: flex;
    gap: 15x;
}

.actionContainer {
    display: flex;
    gap: 40px;
}