.presentationTitle {
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    min-width: 100px;
    max-width: 100%;
}

.presentationTitle:hover {
    border: 2px solid #3498db;
    transition: border-color 0.3s ease;
}