@import './styles/colors.module.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

.container {
    height: calc(100vh - var(--topPanelHeight));
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

.slideListContainer {
    height: calc(100vh - var(--topPanelHeight));
    width: calc(100vw - var(--workSpaceWidth));
}

.workspaceToolbarContainer {
    width: var(--workSpaceWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.workspaceContainer {
    width: 80%;
    aspect-ratio: 16 / 9;
    position: relative;
    border: 2px solid gray; 
}

.preloaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

:root {
    --topPanelHeight: 80px;
    --workSpaceWidth: 85vw;
  }