* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

.container {
    height: calc(100vh - var(--topPanelHeight));
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    box-sizing: border-box;
    padding-right: 8%;
}

:root {
    --topPanelHeight: 100px;
  }